// Mobile first

@media only screen and (min-width: $mobileSize){

}

@media only screen and (min-width: $mobileSize){
    .kv__middle {
        width: 100%;
        height: 538px;
        margin: 0 auto;
        background-color: #101012;
        color: rgb(251,251,251);
        .kv__middleContainer {
            width: 1100px;
            height: 538px;
            margin: 0 auto;
            position: relative;
            h2 {
                padding-top: 56px;
                font-size: 24px;
                line-height: 1.8;
                text-align: center;
            }
            .column__container {
                display: inline-block;
                position: absolute;
                width: 500px;
                &.left {
                    top: 125px;
                    left: 65px;
                }
                &.right {
                    top: 125px;
                    right: -64px;
                }
                .middle__col {
                    display: inline-block;
                    width: 100%;
                    .row__img {
                        display: inline-block;
                        vertical-align: top;
                        a {
                            img {
                                height: 47px;
                                width: 47px;
                                margin-top: 5px;
                                z-index: 1;
                            }
                        }
                    }
        
                    .row__txt {
                        padding-left: 30px;
                        display: inline-block;
                        vertical-align: top;
                        padding-bottom: 57px;
                        p {
                            &:first-child {
                                padding-bottom: 5px;
                                font-size: 15px;
                                line-height: 1.8;
                            }
                            &:nth-child(2){
                                font-size: 12px;
                                line-height: 1.5;
                            }
                            &:nth-child(3){
                                padding-top: 3px;
                                font-size: 12px;
                                line-height: 1.5;
                            }
                        }
                    }
                }
            }

            .kv__middleButton {
                width: 1100px;
                margin: 0 auto;
                position: absolute;
                bottom: -64px;
                z-index: 1;
                a {
                    margin: 0 auto;
                    display: block;
                    width: 330px;
                    padding: 12px;
                    background-color: #2072fb;
                    border-radius: 25px;
                    color: rgb(251,251,251);
                    text-align: center;
                    line-height: 1.7;
                }
                p {
                    padding-top: 15px;
                    color: black;
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.7;
                }
            }
    
        } //.kv__middleContainer
    
    }
}
