.main__body {
    width: $pcSize;
    margin: 0 auto;
}

.phoneSlider {
    width: 100%;
    .phoneSlider__heading {
        margin: 0 auto;
        padding: 60px 0 0;
        text-align: center;
        h1 {
            margin-top: 0;
            font-size: 30px;
            line-height: 1.5;
            font-weight: 200;
        }
        p {
            font-size: 18px;
            line-height: 1.7;
        }
    }
}