# rewrite for CPI
Options +SymLinksIfOwnerMatch
RewriteEngine on

# Basic authentication
AuthUserFile /home/ae15077spm/html/tsutsumi-Aaron/tsutsumi/.htpasswd
AuthGroupFile /dev/null
AuthName "Protected Area"
AuthType Basic
<Limit GET POST>
require valid-user
</Limit>